/*
common 
****************************/

html,
body {
    height: 100%;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.post_form img{
    width:70%;
    border-radius: 10px;


}
img.post-border{
    width: 70%;
    border-radius: 10px;
    height:35vh;
    margin-bottom: 25px;
}

.header {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
}

.header h1 {
    padding-left: 10px;
}
.content .main-logo {
    width: 60px;
}



/* 
Post
*******************************/



.post_form {
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
}

.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;

}

.post_form textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;

}

input#Tweet {
    width: 20%;
    border-radius: 10px;
    padding: 9px;
    background-color: black;
    color: white;
}

input#uploadimage {
    width: 45%;
    border: 0;
    padding-top: 20px;
}

.posts ul {
    padding: 0;
}

.posts li {
    display: flex;
    border-bottom: 1px solid #ccc; 
    padding: 20px 40px;
    position: relative;
    list-style: none;
}

.posts li .menu_icon {
    width: 20px;
    position: absolute;
    top: 18px;
    right: 30px;
    
}

.posts li .menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: #ccc;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}

.posts li .menu a {
    text-decoration: none ;
    font-size:15px;
}

.posts li .logo{
    flex-basis: 15%;
}
.posts li .logo img {
    width: 50%;
}
.posts li .name_body{
    flex-basis:85%;
}
.posts li .name_body .name {
    font-weight: bold;
}

.posts li .name_body .datetime {
    color: gray;

}


@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 20px;
    }
    img.post-border{
        width:100%;
    }
}